<!DOCTYPE html>
<html lang="en-US">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body style="background-color:powderblue;">


  <h1 style="font-size:60px;" style="background-color:#ff6347;">This is heading 1</h1>
  <h2 style="text-align:center;">This is <br> heading 2</h2>
  <h3 style="font-family:verdana;">This is heading 3</h3>
<h4 style="background-color:#ff6347;" style="color:white">This is heading 4</h4>
<button type="button" class="btn btn-warning">Cuidado</button>

<p style="color:red"><b> My first paragraph</b>.</p>
<p title="I'm a tooltip" style="color:yellow">This is another paragraph.</p>

<a href="https://www.w3schools.com">This is a link</a>

<a class="btn btn-primary" href="#" role="button">boton</a>


<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<%= link_to 'HomePage', pages_homepage_path %>

</body>
</html>
